
#content {
    width: 800px;
    margin: 100px auto;
}

.newNote {
    width: 100%;
    height: 200px;
    resize: none;
}

.notes {
    width: 100%;
}

.notes a {
    text-decoration: none;
    color: #00f;
}

.notes tbody td {
    border-bottom: 1px solid #ccc;
}

.notes .no-results {
    display: none;
}